services:
  postgres:
    image: postgres:16
    container_name: lifeflow-postgres
    restart: always
    environment:
      POSTGRES_DB: lifeflow_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: